.resume{
    padding: 2rem;
    padding-bottom: 5.6rem;
}
.background{
    background-color: #ffffff;
    /* opacity: 0.7; */
}
.resume-name{
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.resume-section{
    padding-left: 1rem;
    font-size: 1.3rem;
}
.proficiency{
    display: flex;
    justify-content: space-around;
}
.spacing{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.spacing-left{
    padding-left: 2rem;
}

.dot{
    padding-bottom: 0.5rem;
    list-style-type: disc;
}
a{
    color: #088488;

}
.icons{
    font-size: 2.5rem;
    padding: 1rem;
}
.sizeImgMongodb{
    width: 50px;
    /* padding: 1rem; */
}
.sizeImgSQL{
    width: 110px;
    /* padding-top: 0.5rem; */
}
.sizeImgGraphql{
    padding-left:0.5rem ;
    width: 55px;
    /* color:black; */
}