.contact{
    padding: 2rem;
}
.contact-name{
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
form {
    width: 100%;
    padding-left: 5rem;

}
form .form-group {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
}
  
form .form-input,
form .form-textarea {
    display: block;
}
form .form-input {
    width: 80%;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
}
.message{
    height: 100px;
}
.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn.btn-primary {
    background-color: #2d3e50;
    color: #d9e9e8;
}
.btn.btn-primary:hover {
    background-color: #57779a;
  }