.Work{
    padding: 2rem;
}
.flex-container{
    display: flex;
}
.work-nav{
    width: 30%;
}
.work-main{
    width: 70%;
}

.nav-cards{
    flex-direction: row;
    position:relative;
    width:750px;
    border-radius: 5px;
    border:4px solid #8f8c89;
    margin: 2rem;
}

.cards{
    width:750px;
    margin: 2rem;
}
.nav-image{
    opacity: 1;
    display: block;
    width:50%;
    height:auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.nav-image:hover{
    opacity: 0.1;
}

.image{
    opacity: 1;
    display: block;
    width:100%;
    height:auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
    border:4px solid #8f8c89;

}
.cards:hover .overlay{
    opacity: 1;
}
.paddingright{
    padding-right: 3rem;
}
.textCard{
    color:#000000;
    font-size: 2.5rem;
    padding: 1rem;
}
.textCard a{
    color:#000000;
}
.textCard a:hover{
    color:#00aeff
}
.work-proficiency{
    color:#000000;
    font-size: 1.7rem;
    padding: 0.5rem;
} 
.work-github{
    font-size: 3rem;
}

@media screen and (max-width: 1148px) {
    .flex-container{
        display: block;
    }
    .nav-flex{
        display: flex; 
        flex-direction: row;
    }
    .nav-cards{
        width:110px;
        border-radius: 5px;
        border:4px solid #8f8c89;
        margin: 2rem;
    }
    .work-main{
        width: 70%;

    }
}    