.Work{
    padding: 2rem;
}
.manycards{
    display: flex;
}

.cards{
    /* flex-wrap: wrap; */
    flex-direction: row;
    position:relative;
    width:350px;
    border-radius: 5px;
    border:4px solid #8f8c89;
    margin: 2rem;
}

.image{
    opacity: 1;
    display: block;
    width:100%;
    height:auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.overlay{
    transition: 0.5 ease;
    opacity: 0;
    position:absolute;
    top:30%;
    left:40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.cards:hover .image{
    opacity: 0.3;
}
.cards:hover .overlay{
    opacity: 1;
}
.paddingright{
    padding-right: 2rem;
}
.textCard{
    color:#000000;
    font-size: 1.9rem;
    padding: 1rem;
}
.textCard a{
    color:#000000;
}
.textCard a:hover{
    color:#00aeff
}
.proficiency{
    color:#000000;
    font-size: 1.5rem;
    padding: 1rem;
} 

